EXAMPLE_N8N_PORT=5678
N8N_VERSION=latest
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
TZ=Asia/Jakarta

NGROK_AUTHTOKEN=YOUR_TOKEN
NGROK_URL=YOUR_NGROK_URL
API_GEMINI=YOUR_GEMINI_API_KEY
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
API_ALPHAVANTAGE=YOUR_ALPHAVANTAGE_API_KEY
API_NEWS=YOUR_NEWS_API_KEY
API_GO=YOUR_GO_API_KEY
